<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		</assemblyBinding>
	</runtime>

	<System.Windows.Forms.ApplicationConfigurationSection>
		<add key="DPIAwareness" value="True" />
		<add key="EnableWindowsFormsHighDpiAutoResizing" value="True" />
	</System.Windows.Forms.ApplicationConfigurationSection>
</configuration>